.marqueeComponentInnerDiv {
    position: absolute;
    bottom: 70px;
}

.marqueeComponentOuterDiv {
    position: absolute;
    bottom: -100px;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }
}

.animateUPDown {
    animation: upDown 1.5s ease-in-out infinite;
}